[toolchain]
anchor_version = "0.31.1"
solana_version = "2.1.0"

[workspace]
members = ["programs/cp-swap"]

[features]
seeds = false
skip-lint = false

[programs.localnet]
kedolik_cp_swap = "HmrfmeAq6w52AESpFhxMP1dwYDn8DHawmGmtYMhbrkcq"

[programs.devnet]
kedolik_cp_swap = "HmrfmeAq6w52AESpFhxMP1dwYDn8DHawmGmtYMhbrkcq"


[registry]
url = "https://github.com/kedolik-io/kedolik-cp-swap"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/*.test.ts"

[test]
startup_wait = 10000

[test.validator]
url = "https://api.mainnet-beta.solana.com"
